.container {
    width: 1200px;
    height: 600px;
    background-color: lightgray;
    position: relative;
}

img {
    width: 300px;
    height: 200px;
}

.place {
    position: absolute;
    transform: skewY(30deg);
    transition: 1s;
    
}

.place:hover {
    transform: skewY(0);
}

.sea {
    top: 180px;
    left: 200px;
    z-index: 3;
}
.mountain {
    top: 180px;
    left: 350px;
    z-index: 2;
}
.mountain:hover {
    z-index: 3;
}
.waterfall {
    top: 180px;
    left: 500px;
}
.waterfall:hover {
    z-index: 3;
}
