.ball {
    width: 100px;
    height: 100px;    
    background-color: lightcoral;
    border-radius: 50%;
    animation: ball 4s infinite;    
    position: absolute;
}

@keyframes ball {
    0%{
        left: 0px;
        top: 0px;
    }    
    25% {
        left: 100%;
        top: 0px;
    }

    50% {
        left: 100%;
        top: 100%;

    }

    75% {
        left: 0px;
        top: 100%;
    }
    100% {
        left: 0px;
        top: 0px;
    }
}
