div {
    border: 1px solid black;
}


.Container {
    width: 500px;
    height: 500px;
    background-color: orange;
    position: relative;
    
}

.Container div{
    width: 100px;
    height: 100px; 
    color: black;   
    font-weight: bold;
}

.item1 {
    left: 50px;
    top: 30px;    
    position: relative;
}

.item2 {
    left: 30px;
    bottom: 100px;    
    position: absolute;
}
.item3 {
    right: 100px;
    top:  100px;
    position: fixed;
    background-color: aliceblue;
}