.d-inline1 {
    display: inline;
    background-color: lightblue;
}

.d-inline2 {
    display: inline;
    background-color: lightcoral;
}

.d-block1 {
    display: block;
    background-color: rosybrown;
    width: 300px;
}

.d-block2 {
    display: block;
    background-color: bisque;
}

.d-inline-block1 {
    color: white;
    display: inline-block;
    background-color: blue;
}

.d-inline-block2 {
    color: white;
    display: inline-block;
    background-color: crimson;
    height: 200px;
    margin: 20px 40px;
}