/*  web font */
/* 
    1 구글 웹 폰트, 눈누 웹 폰트
    2 모든 브라우저에서 보는 폰트를 통일시키기
    3. 폰트를 다운받는게 아닌 link 태그에 걸려있는 주소에서
    - 폰트를 가져오는 방식
    4. 보통 기본적인 폰트는 body 태그에 작성
*/
h1 {

    font-family: 'HSYeoleum20-Regular';
    /* font-family: "Poetsen One", sans-serif; */
    /* "Poetsen One"(사용할 글꼴), sans-serif(앞에 글꼴이 없을 시 이걸 적용) */
    
}

div {
    font-family: "Oswald", sans-serif;
    font-size: 30px;
}

div {
    height: 500px;
    color: black;
    /* background-color: yellow; */
    /* 배경 그라데이션 */
    /* background: linear-gradient(blue, pink);
    background: linear-gradient(to right, blue, pink); */

    /* background: linear-gradient(210deg, royalblue,pink); */

    /* ------------------- */

    /* 폰트 크기 : 기본 사이즈는 16px*/
    font-size: 50px;

    /* 폰트 굵기 
        - light, normal, bold, bolder  
        - 100 ~ 900 사이의 숫자로도 지정 가능    
    */
    font-weight: 400;

    /* 폰트 모양 
        - normal, italic(기울기값이 고정), oblique(사용자가 기울기값 설정가능)
    */
    font-style: oblique 70deg;

    /* 폰트 정렬
        - center, left, right, justify(양쪽 정렬)     
    */
    text-align: center;

    /* 글자선
        - underline, line-through, overline, none
    */
    text-decoration: underline;

    /* 줄높이
        - px 또는 숫자를 입력(1.2가 기본값) 
     */

     line-height: 4;

     /* ------------------ */

     /* 요소 크기 
        - min-width, min-height, max-width, max-height
     */

     /* width: 400px; */

     /* 테두리 */
     border-style: solid; /* 테두리의 종류 */
     border-width: 4px; /* 테두리의 두께 */
     border-color: crimson; /* 테두리 색깔 */

     /*  테투리 단축 프로퍼티 */
     /* border : [border-width] [border-stlye] [border-color] */

    border: 4px solid crimson;

    /* 한쪽 테두리만 설정: top, bottom, right, left */
    /* border-top 이런 형태로 사용 */
    border-top: 5px solid green;
    

    /* 모서리 둥글기 */
    /* border-radius: 30px; */

    /* 네 방향을 다 다르게 둥근 정도 주기 */
    /*  시작 방향은 왼쪽 모서리부터이며 시계방향으로 작용 */
    /* border-radius: 10px 20px 0 30%; */

    /* 원 만들땐 50%로 설정 */
    /* border-radius: 50%; */

    /* --------- */

    /* 여백  */
    /* padding-top, padding-bottom, padding-right, padding-left */
    /* margin도 위와 같은 형태로 네 방향 각각 설정,적용 가능 */


    /* 한번에 적용 */
    /* margin: 50px; */

    /* 방향별 속성 단축 형식 */
    /* 상, 우, 하, 좌 순으로 모두 적용 */
    /* margin: 10px 50px; */
    /* 위 코드는 상하: 10px, 좌우: 50px */
    
    /*  상: 10, 좌우: 20, 하: 30 */
    /* margin: 10px 20px 30px; */    


}

.backgroundI {
    height: 200px;
    background-color: coral;

    /* 이미지 없음 */
    background-color: none;

    background-image: url("./image/sessac.jpg");

    /* 이미지 반복 */
    background-repeat: repeat; /* 기본값*/
    background-repeat: repeat-x;
    background-repeat: repeat-y;
    background-repeat: no-repeat;

    /* 이미지 위치 */
    background-position: center;
    background-position: 20px;

    /* 배경 이미지 크기 */
    background-size: auto; /* 이미지 실제 크기 */

    /* 비율 유지 - 요소의 더 넓은 너비에 맞춤 */
    background-size: cover; 

    /* 비율 유지 - 요소의 더 짧은 너비에 맞춤 */
    background-size: contain;
    

    /* 배경 이미지 스크롤 특성 */
    /* background-attachment: scroll;
    background-attachment: fixed;
    background-attachment: local; */
}

